.sobre {
    padding: 0 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 

    @media (max-width:768px) {
        display: block; 
        text-align: center;
    }

        h2 {
            color: rgb(255, 65, 65);
            border-bottom: 2px solid rgb(255, 65, 65) ;
            margin-left: 12px;
            margin-bottom: 24px;
        }
    
    &__text {
        padding: 0 2vw;

        p{
            margin-left: 12px;
        }
        &__img {
            width: 100%;

            @media (max-width:768px) {
                width: 320px;
            }
        }
    }
}